.navbar {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #e2e8f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo img {
    color: transparent;
    width: 160px;
    object-fit: contain;
    height: auto;
}

/* LINKS */
.links {
    display: flex;
    gap: 0.25rem;
}

.links a {
    font-size: 0.85rem;
    font-weight: 700;
    color: #334155;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.links a:hover {
    color: #fff;
    cursor: pointer;
    background: #2563eb;
    border: none;
    border-radius: .35rem;
    padding: .5rem 1rem;
    font-size: .8rem;
    font-family: var(--font-quicksand);
    font-weight: 600;
}

/* CTA */
.cta {
    padding: 0.5rem 1rem;
    background: #2563eb;
    color: #ffffff;
    border: none;
    border-radius: 0.35rem;
    font-size: 0.8rem;
    font-family: var(--font-quicksand);
    font-weight: 600;
    cursor: pointer;
}

.phoneCta {
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 10%;
    left: 20px;
    right: 20px;
    justify-content: space-between;
    align-items: center;
    top: 90%;
}

.whatsapp{
    color: transparent;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

.call{
    cursor: pointer;
    color: transparent;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    background: yellow;
    padding: 8px;
    filter: invert(1);
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .links {
        display: none;
    }
}

@media (max-width: 768px){
    .phoneCta {
        display: flex;
    }
}